<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="AbcDBContext" connectionString="Integrated Security=SSPI;Data source=prefix-dev.nwie.net,1022;Initial Catalog=PrefixCI2_ABC" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings xdt:Transform="Replace">
    <AutomatedBuild.Properties.Settings>
      <setting name="Profile" serializeAs="String">
        <value>1097</value>
      </setting>
      <setting name="EmailServer" serializeAs="String">
        <value>mail-gw.ent.nwie.net</value>
      </setting>
      <setting name="CVPath" serializeAs="String">
        <value>E:\Prefix\CI2\Prefix\CashValue.exe</value>
      </setting>
      <setting name="LoadDataPath" serializeAs="String">
        <value>E:\Prefix\CI2\Prefix\Status\ABC</value>
      </setting>
      <setting name="TestRegion" serializeAs="String">
        <value>CI2</value>
      </setting>
      <setting name="UseRemoteServer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RemoteServer_CopyPath" serializeAs="String">
        <value>\\prefix-dev.nwie.net\Backups\ABC_Data\CI2</value>
      </setting>
      <setting name="RemoteServer_LoadPath" serializeAs="String">
        <value>T:\Backups\ABC_Data\CI2\</value>
      </setting>
      <setting name="OverrideVersionCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ArchiveDataSets" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AbcWebURL" serializeAs="String">
        <value>https://prefixserviceit.nwie.net/ci2/BuildCompare/RunSummary</value>
      </setting>
      <setting name="TfsServerUrl" serializeAs="String">
        <value>http://tfs.nwie.net:8080/tfs/IPSCollection</value>
      </setting>
      <setting name="AutoAssignDeltas" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BuildDefinition" serializeAs="String">
        <value>2014-11-07-Infix</value>
      </setting>
      <setting name="BuildQuality" serializeAs="String">
        <value>Deployed to Test</value>
      </setting>
      <setting name="ReleaseTfsRoot" serializeAs="String">
        <value>$/Prefix/DEV/R2014-11-07</value>
      </setting>
      <setting name="MergeIndicators" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Integration Merge[ACROSS]</string>
            <string>Integration Merge [ACROSS]</string>
            <string>Integration Merge</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="PoliciesPerLoadFile" serializeAs="String">
        <value>500</value>
      </setting>
    </AutomatedBuild.Properties.Settings>
  </applicationSettings>
</configuration>